

.btn-primary {
    background: orange;
    border: 0;
    font-size: 16px;
    font-weight: bold;
    width: 200px;
    margin-top: 5px;

}

.btn-card {
  background: orange;
  border: 0;
  font-size: 16px;
  color: white;
  width: 180px;
  margin-left: 10px;
  margin-top: 20px;
}

.btn-card:hover {
  background: rgb(228, 154, 18);
  border: 0;
  color: white;
}

.btn-primary:hover {
    background: rgb(228, 154, 18);
    border: 0;
}

.indonesian-culture {
margin-top: 20px;
}

.indonesian-culture  h1 {
    font-family: 'Poppins';
    font-weight: 700;
    color: #2F281E;
    margin-bottom: 20px;
}

.indonesian-culture  p {
    font-family: 'Poppins';
    font-weight: 400;
    color: #2F281E;
    margin-bottom: 20px;
}

  .card {
    box-shadow: 2px 2px 2px 2px rgba(2, 2, 2, 0.2);
    border-radius: 15px;
    padding: 20px;
    margin-top: 20px;
    
}


.btn-card {
    text-align: center;
}

.card-menu {
    justify-content: center;
}

.footer {
  margin-top: 20px;
  padding-bottom: 30px;
  padding-top: 20px;
}

.title {
  margin-top: 6px;
  color:rgb(228, 154, 18);;
}

.pagination{
  margin-top: 20px;
  justify-content: center;
}

.title-header {
  color: #2ecc71;
}

.tittle-home {
  text-align: center;
  font-weight: bold;
  color: #2ecc71;
}
.harga {
  margin-top: 20px;
}

.discount {
  margin-right: 5px;
  color: red;
}

.btn-discount {
  width: 90px;
  font-size: 13px;
}

.no-discount {
  margin-top: 20px;
}